<div class="container">

<h4>Log in</h4>

<form id="form" method="POST" action="/login">

    <label for="username">Your Username:</label>
    <input type="text" name="username" placeholder="Username">

    <label for="passoword">Your Password:</label>
    <input type="password" placeholder="Password" name="password">

    <button>Log in</button>

</form>
</div>