<br>
<h4 class="form-group">Log In into Your Account</h4>
<br>


<form id="form" method="POST" action="/login">
  <div class="form-group">
    <label for="username">Your Username</label>
    <input type="text" name="username">
  </div>
  <div class="form-group">
    <label for="passoword">Your Password</label>
    <input type="password" name="password">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Log In</button>
  </div>
</form>