<h4>Register</h4>

<form id="form" method="POST" action="/signup">

    <label for="email">Your Email:</label>
    <input type="email" name="email" placeholder="Email">

    <label for="username">Your Username:</label>
    <input type="text" name="username" placeholder="Username">

    <label for="password">Your Password:</label>
    <input type="password" placeholder="Password" name="password">

    <button>Register</button>
  

</form>