<br>
<h4 class="form-group">Sign Up for an Account</h4>
<br>

<div class="container d-flex justify-content-center">
<form method="POST" action="/signup">
  <div class="form-row">
    <div class="form-group col">
      {{!-- <label for="inputUsername">Username</label> --}}
      <input name="username" type="text" class="form-control" placeholder="Username">
    </div>
    </div>
  <div class="form-row">
    <div class="form-group col">
      {{!-- <label for="inputName">First Name</label> --}}
      <input name="firstname" type="text" class="form-control" placeholder="First Name">
    </div>
  
    <div class="form-group col">
      {{!-- <label for="inputPassword4">Last Name</label> --}}
      <input name="lastname" type="text" class="form-control" placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      {{!-- <label for="inputEmail4">Email</label> --}}
      <input name="email" type="email" class="form-control" placeholder="Email Adress">
    </div>
    </div>
     <div class="form-row">
    <div class="form-group col">
      {{!-- <label for="inputPassword4">Password</label> --}}
      <input name="password" type="password" class="form-control" placeholder="Password">
    </div>
  </div>
  
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
</div>
<br>