<br>
<h4 class="form-group">Sign Up for an Account</h4>
<br>

<div class="container">
<form id="form" method="POST" action="/signup" enctype="multipart/form-data">
  <div class="form-group">
    <label for="firstname">Name</label>
    <input type="text" name="firstname" class="form-control" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lastname">Surname</label>
    <input type="text" name="lastname" class="form-control" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Choose a Username">
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" name="email" class="form-control" placeholder="Enter email">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Choose your password">
  </div>
  <div>
    <label for="profile-image">Upload Your Profile Photo</label>
    <input id="profile-image" type="file" name="file">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>