<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/event/event">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/event">New Event</a>
      <a class="nav-item nav-link active" href="/user">Profile<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/signup">Sign Up</a>
      <a class="nav-item nav-link" href="/login">Log In</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Log Out</a>
    </div>
  </div>
</nav>
    {{{body}}}
  </body>
</html>
