<h1>{{user.username}}</h1>

<div class="card mb-3" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
  
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
        <p class="card-text">User describtion here Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum soluta tenetur explicabo amet consequuntur deleniti similique non cupiditate. Impedit eos, facilis necessitatibus reprehenderit maxime optio libero numquam? Sed, voluptas praesentium.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>