$link-color: #00b7ff;

body {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  color: black;
  background: #c04848;
  background: -webkit-linear-gradient(to right, #480048, #c04848);
  background: linear-gradient(to right, #480048, #c04848);
}

// rgba(22, 3, 3, 0.616);
.card {
  background-color: rgba(22, 3, 3, 0.616);
}
.card-header,
.card-footer {
  opacity: 1;
}
.card {
  color: white;
}

.cardGrid {
  display: flex;
  justify-content: space-around;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-resizer {
  display: flex;
  justify-content: center;
  width: 35%;
}

#concert-detail-card {
  margin: 50px;
}

.display-centering-code {
  display: flex;
  justify-content: center;
}

.background-force {
  background-color: black;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  color: black;
  background-color: white;
}

a {
  color: white;
}

div.card {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 80%;
}

div.search {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 80%;
}

.card-header,
.card-footer {
  background-color: rgba(211, 193, 193, 0.671);
  color: black;
  width: 80%;
  opacity: 1;
}

.cardGrid {
  display: flex;
  justify-content: space-around;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-resizer {
  display: flex;
  max-width: 100%;
}

#concert-detail-card {
  margin: 50px;
}

.display-centering-code {
  display: flex;
  justify-content: center;
}

.background-force {
  background-color: black;
}

.example_b {
  margin: 30px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #18a336;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
