body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif; 
  background-image: url('../images/joshua-hoehne-6M9jjeZjscE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  /* background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #434343); */
  color: black;
}


a {
  color: white;
}

.card { 
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  width: 80%;
}

div.search { 
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  width: 80%;
}

.card-header, .card-footer { 
  background-color: rgba(211, 193, 193, 0.671);
  color: black;
  width: 80%;

}


.cardGrid {
  display: flex;
  justify-content: space-around;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-resizer {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#concert-detail-card{
  margin: 50px;
}

.example_b {
  margin: 30px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #18a336;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }

.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }