<p>You created an event successfuly.</p>
<h1>{{event}}</h1>

<div class="card mb-3" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      +
      <img src={{event.event}} alt="profile photo" width="300px">
  
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{event.event}}</h5>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>