<h4>Propose a new Event</h4>

<form id="eventCreator" method="POST" action="/event" enctype="multipart/form-data">

    <label for="event">Event Name:</label>
    {{!-- The name in the input defines the name of the req.body. e.g. req.body.event --}}
    <input type="text" name="event" placeholder="Name your event">

    <label for="description">Description:</label>
    <input type="text" name="description" placeholder="Description">

    <label for="genre">Add Genre:</label>
    <input type="text" name="genre" placeholder="Choose a genre">

    <label for="artists">Add Artist(s):</label>
    <input type="text" name="artists" placeholder="Artist(s)">

    <label for="city">City:</label>
    <input type="text" name="city" placeholder="Choose a City">

    <label for="ticket">Buy Ticket:</label>
    <input type="text" name="ticket" placeholder="Provide ticket url">

    <label for="date">Date:</label>
    <input type="date" name="date" placeholder="Date">

    <label for="event-image">Upload Your Event Photo</label>
    <input id="event-image" class="form-control" type="file" name="file">

    <button>Submit</button>
  
</form>