<h4>Create an Event</h4>

<form id="eventCreator" action="POST" action="/event">

    <label for="event">Event Name:</label>
    <input type="text" name="event" placeholder="Name your event">

    <label for="description">Description:</label>
    <input type="text" name="description" placeholder="Description">

    <label for="genre">Genre:</label>
    <input type="text" name="genre">

    <label for="location">Location:</label>
    <input type="text" name="location">

    <label for="ticket">Buy Ticket:</label>
    <input type="text" name="ticket">

    <label for="image">Image:</label>
    <input type="text" name="image">

    <button>Submit</button>
  
</form>